body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0f172a;
    color: #f1f5f9;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

h1, h2 {
    color: #38bdf8;
}

section {
    margin-bottom: 40px;
}

ul {
    list-style-type: square;
}

button {
    background-color: #38bdf8;
    border: none;
    padding: 10px 15px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0ea5e9;
}
